<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="name" />
  </label>

  <label>
    Weight:
    <input type="text" formControlName="weight" />
  </label>
  <label>
    Height:
    <input type="text" formControlName="height" />
  </label>
  <label>
    Body fat:
    <input type="text" formControlName="bodyFatPercentage" />
  </label>
  <label>
    Muscle rate:
    <input type="text" formControlName="muscleRate" />
  </label>
  <label>
    Age:
    <input type="text" formControlName="age" />
  </label>
  <label>
    Gender:
    <input type="text" formControlName="gender" />
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
